<ul class="no-bullet">
    <% @announcements.each do |announcement| %>
    <div class="row">
    <div class="small-12 large-6 columns">
    <li><%= image_tag(announcement.picture)%></li>
    </div>
    <div class="small-12 large-6 columns lyric">
      <li><h2><%= announcement.title%></h2></li>
      <li><h5><%= announcement.updated_at.strftime('%v')%></h5></li>
      <br>
      <li><%= simple_format(announcement.body)%></li>
    </div>
    <div class="small-12 columns">
    <br>
      <% if session[:admin] %>
      <li><%= link_to 'Edit announcement', edit_announcement_path(announcement), :class=>'small round button' %></li>
      <li><%= link_to 'Delete announcement', announcement, method: :delete, data: { confirm: 'Delete This Announcement?' }, class:"button round small" %></li>
      <%end%>
    </div>
      <%unless announcement==@announcements.last%>
      <hr>
      <%end%>
    </div>
    <%end%>
</ul>

<% if session[:admin]%>
<div class="admin">
<h1>Admin Pannel</h1>
<%= link_to 'Add More Announcements', new_announcement_path, class:"button round" %>
</div>
<%end%>