<div class="row">
<div class="small-12 medium-6 columns">
<h1>Albums</h1>
<hr>
	<ul class="accordion" data-accordion>
	<% @albums.all.each do |album| %>
	  <li class="accordion-navigation">
	    <a href="#panel<%=album.id%>"><%=album.title%></a>
	    <div id="panel<%=album.id%>" class="content song-list">
	    <ul class="no-bullet">
	     <%album.songs.each do |song|%>
	     <li><%=link_to song.title, songlyric_path(song), :class=>"song-link"%></li>
	     <%end%>
	    </ul>
	   </div>
	  </li>
	 <%end%>
	</ul>
</div>

<div class="small-12 medium-6 columns">
<h1>Lyrics</h1>
<hr>
<div class="lyric">
	<%if @default_song%>
	<h1><%= @default_song.title %></h1>
	<p>
	<%= simple_format(@default_song.lyric) %>
	</p>
	<%end%>
</div>
</div>

</div>

<% if session[:admin]%>
<div class="admin">
<h1>Admin Pannel</h1>
<%= link_to 'Add More Lyrics', albums_path, class:"button round" %>
</div>
<%end%>