<% if session[:admin] %>
<div class="admin">
<h1>Edit Announcement</h1>
<%= form_for(@announcement) do |f| %>
    <%=f.text_field :title, label: false, placeholder:@announcement.title%>
    <%=f.text_field :picture, label: false, placeholder:@announcement.picture%>
    <%=f.text_area :body, cols: 40, rows: 15, label: false, placeholder:@announcement.body%>
    <%= f.submit 'Edit Announcement', :class => 'tiny button round' %>
<% end %>
<%= link_to 'Back to Announcements', announcements_path, class: "jet" %>
</div>
<%end%>