<ul class="no-bullet">
    <% @videos.each do |video| %>
      <li><h2><%= video.name%></h2></li>
      <%if video.upload_file_name%>
      <%= video_tag video.upload.url, controls: true, style: "max-width: 100%;" %>
      <%else%>
       <div class="flex-video">
        <iframe src="<%=video.url%>" frameborder="0" allowfullscreen></iframe>
       </div>
      <%end%>

      <% if session[:admin] %>
      <li><%= link_to 'Delete Video', video, method: :delete, data: { confirm: 'Delete This Video?' }, class:"button round small" %></li>
      <%end%>
    <%end%>
</ul>
<br>

<% if session[:admin] %>
<div class="admin">
<h1>Admin Pannel</h1>
<%= link_to 'Add More Videos', new_video_path, class:"button round" %>
</div>
<%end%>