<% if session[:admin] %>
<div class="admin">
<h1>New Event</h1>
<%= form_for(@event) do |f| %>
    <%=f.text_field :title, label: false, placeholder:@event.title%>
    <%= f.label "Upload Picture:" %>
    <%=f.file_field :picture%>
    <%=f.text_area :body, cols: 40, rows: 15, label: false, placeholder:@event.body%>
    <%= f.submit 'Edit Event', :class => 'tiny button round' %>
<% end %>
<%= link_to 'Back to Events', events_path, class: "jet" %>
</div>
<%end%>