<div class="lyric">
<ul class="no-bullet">
    <% @events.each do |event| %>
      <li><h2><%= event.title%></h2></li>
      <li><h5><%= event.updated_at.strftime('%v')%></h5></li>
      <li><%= image_tag(event.picture.url)%></li>
      <br>
      <li><%= simple_format(event.body)%></li>

      <% if session[:admin] %>
      <%= link_to 'Edit Event', edit_event_path(event), :class=>'small round button' %>

      <li><%= link_to 'Delete Event', event, method: :delete, data: { confirm: 'Delete This Event?' }, class:"button round small" %></li>
      <%end%>

      <%unless event==@events.last%>
      <hr>
      <%end%>
    <%end%>
</ul>
</div>
<br>

<% if session[:admin] %>
<div class="admin">
<h1>Admin Pannel</h1>
<%= link_to 'Add More Events', new_event_path, class:"button round" %>
</div>
<%end%>