<%= form_for(@song) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :lyric %><br>
    <%= f.text_field :lyric %>
  </div>
  <%= f.hidden_field :album_id, :value => @album.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
