<h1>New Song</h1>

<%= form_for(@song) do |f| %>
    <%= f.text_field :title, placeholder: 'Enter Song Title' %>
    <%= f.text_area :lyric, placeholder: 'Enter Song Lyrics', cols: 40, rows: 15 %>
  <%= f.hidden_field :album_id, :value => @album.id %>
    <%= f.submit "Submit", :class=>"tiny round button" %>
<% end %>


<%= link_to 'Back to Albums', albums_path %>
