<div class="admin">
<p>
  <h1><strong>Title:</strong>
  <%= @song.title %></h1>
</p>

<p>
  <strong>Album:</strong>
  <%= @song.album.title %>
</p>

<p>
  <strong>Lyrics:</strong>
  <br>
  <%= simple_format(@song.lyric) %>
</p>
<%= link_to 'Edit Song', edit_song_path(@song), :class=>"small round button" %>
<br>
<%= link_to 'Back to Album', album_path(@song.album), :class=>"jet"  %>
</div>

