<h1>New Album</h1>

<%= form_for(@album) do |f| %>
    <%=f.text_field :name, label: false, placeholder:"Enter Album Name"%>
    <%= f.hidden_field :album_id, :value => @album.id %>
    <%= f.submit %>
 	
<% end %>

<%= link_to 'Back', albums_path %>