<% if session[:admin] %>
<div class="admin">
<h1>All Albums</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Number of Songs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.title %></td>
        <td><%= album.songs.count%></td>
        <td><%= link_to 'Album Details', album, :class=>'tiny round button' %></td>
        <td><%= link_to 'Delete Album', album, method: :delete, data: { confirm: 'Delete This Album?' }, :class=>'tiny round button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Add New Album', new_album_path,:class=>'small round button' %>
<br>
<%= link_to 'Back to Lyrics', lyrics_path, class: "jet" %>
</div>
<%end%>

