<div class="admin">
<p>
  <h1><strong>Title:</strong>
  <%= @album.title %></h1>
  <%= link_to 'Edit Album Name', edit_album_path, :class=>'small round button' %>
  <h3>Song list</h3>
  <hr>
  <%@album.songs.each do|song| %>
  	<p><%=song.title %></p>
  <%end%>
</p>
<%= link_to "Add a Song", new_album_song_path(@album), :class=>"small round button" %>
<br>
</div>
<%= link_to 'Back to Albums', albums_path %>
