<% unless @home_page%>
<nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <a href="/"><%=image_tag('white-logo.png', class: 'logo hide-for-small')%></a>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>
             
          <section class="top-bar-section">
             
            <ul class="right">
              <li><a href="/musics">Music</a></li>
             
              <li><a href="/pictures">Pictures</a></li>
             
              <li><a href="/videos">Videos</a></li>
             
              <li><a href="/events">Events</a></li>

              <li><a href="/lyrics">Lyrics</a></li>

              <li><a href="http://www.edelweissofficial.bigcartel.com">Shop</a></li>

              <% if session[:admin] %>
              <li><%= link_to 'Logout', admin_logout_path, :method => :delete %></li>
              <%else%>
              <li><a href="#" data-reveal-id="subscribe">Subscribe</a></li>
              <%end%>
         
            </ul>
          </section>
        </nav>

        <div id="subscribe" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
          <h1>Subscribe to our Newsletter</h1>
        <%= form_tag('/emailapi/subscribe', method: "post", id: "subscribe", remote: "true") do -%>
           <%= email_field(:email,:address, placeholder: "email address") %>
           <%= submit_tag("Sign me up!", class:"button round") %>
           <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        <% end %>
        </div>

        <div class="row">
      <div class="large-12">
        <div class="banner hide-for-small"></div>
      </div>
    </div>
<%end%>