<nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <%if @home_page%>
              <a href="/"><%=image_tag('white-logo.png', class: 'logo show-for-large-up')%></a>
              <%else%>
              <a href="/"><%=image_tag('black-logo.png', class: 'logo show-for-large-up')%></a>
              <%end%>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>
             
          <section class="top-bar-section">
             
            <ul class="right">
              <li><a href="/musics" style="<%='color:white' if @home_page%>">Music</a></li>
             
              <li><a href="/pictures" style="<%='color:white' if @home_page%>">Pictures</a></li>
             
              <li><a href="/videos" style="<%='color:white' if @home_page%>">Videos</a></li>
             
              <li><a href="/events" style="<%='color:white' if @home_page%>">Events</a></li>

              <li><a href="/lyrics" style="<%='color:white' if @home_page%>">Lyrics</a></li>

              <% if session[:admin] %>
              <li><%= link_to 'Admin', admin_panel_path, style:'color:white'%></li>
              <li><%= link_to 'Logout', admin_logout_path, :method => :delete, style:'color:white'%></li>
              <%else%>
              <li><a href="http://www.edelweissofficial.bigcartel.com" style="<%='color:white' if @home_page%>">Shop</a></li>
              <li><a href="#" data-reveal-id="subscribe" style="<%='color:white' if @home_page%>">Subscribe</a></li>
              <%end%>
         
            </ul>
          </section>
        </nav>

        <div id="subscribe" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
          <h1>Subscribe to our Newsletter</h1>
        <%= form_tag('/emailapi/subscribe', method: "post", id: "subscribe", remote: "true") do -%>
           <%= email_field(:email,:address, placeholder: "email address") %>
           <%= submit_tag("Sign me up!", class:"button round") %>
           <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        <% end %>
        </div>

        <div class="row">
      <div class="large-12">
        <div class="banner hide-for-small"></div>
      </div>
    </div>