<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Edelweiss" %></title>

  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application"  %>
  <%= favicon_link_tag("black-logo.png") %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Pacifico|Quicksand:400,300,700|Nunito:400,300,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>

</head>

<body class="<%= @home_page ? 'home': 'content'%>">
<%if @home_page%>
  <ul class="cb-slideshow no-bullet">
    <li><span>Image 01</span></li>
    <li><span>Image 02</span></li>
    <li><span>Image 03</span></li>
    <li><span>Image 04</span></li>
    <li><span>Image 05</span></li>
    <li><span>Image 06</span></li>
    <li><span>Image 07</span></li>
    <li><span>Image 08</span></li>
    <li><span>Image 09</span></li>
    <li><span>Image 10</span></li>
</ul>
<%end%>


    <%= render "layouts/header" %>
    <div class="container small-12 medium-10 medium-centered columns">
    <%if notice %>
      <div data-alert class="alert-box info radius">
        <%= notice %>
        <a href="#" class="close">&times;</a>
      </div>
    <%end%>

    <%if flash[:login_error] %>
      <div data-alert class="alert-box alert radius">
        <%= flash[:login_error] %>
        <a href="#" class="close">&times;</a>
      </div>
    <%end%>
    <%= yield %>
    </div>
    <%= render "layouts/footer" %>
</body>

</html>
